<p>
  <%= customer_photo @customer %>
</p>

<p>First name: <%= @customer.first_name %></p>
<p>Last name: <%= @customer.last_name %></p>
<p>Email: <%= @customer.email %></p>
<p>Birthday: <%= @customer.birthday %></p>

<h3>Notes</h3>

<%= render @customer.notes %>


<%= link_to 'Edit', edit_customer_path %>
<%= link_to 'All customers', customers_path %>
